<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::common_header">
</head>
<body>
<div class="row">
    <div th:if="${message != null}" class="col-md-12 content alert-holder">
        <div class="alert alert-danger">
            <h4 th:text="${message}"></h4>
        </div>
    </div>
    <div th:replace="menu::common_menu">
    </div>

    <div class="col-md-5 content form-content">

        <form class="registration-form"
              action="#"
              th:action="@{'/' + ${visit.getId() != null} ? ${visit.getId()}}"
              th:object="${visit}"
              method="post">

            <h3 th:text="${visit.getId() == null} ? #{register.visit} : #{update.visit}">
                register.visit</h3>

            <div class="form-group">
                <label for="dentist-select" th:text="#{select.dentist.name}">select.dentist.name</label>

                <select id="dentist-select" class="custom-select" th:field="*{dentistId}">
                    <option th:value="${null}"
                            th:text="#{dentist.name}"></option>
                    <option
                            th:each="doc :${dentists}"
                            th:value="${doc.getId()}"
                            th:text="${doc.getFirstname() + ' ' + doc.getLastname()}">
                    </option>
                </select>
                <p class="error-msg"
                   th:if="${#fields.hasErrors('dentistId')}"
                   th:errors="*{dentistId}"
                   th:text="#{NotNull.dentistVisitDTO.dentist}"></p>
            </div>

            <div class="form-group">
                <label th:text="#{visit.datetime}">visit.datetime</label>

                <input class="form-control"
                       type="text"
                       th:field="*{visitDateString}"
                       id="visit_datepicker"
                       autocomplete="off"/>

                <p class="error-msg"
                   th:if="${#fields.hasErrors('visitDateString')}"
                   th:errors="*{visitDateString}"
                   th:text="#{NotBlank.dentistVisitDTO.visitDate}"></p>
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       th:field="*{visitTimeString}"
                       id="visit_timepicker"
                       autocomplete="off"/>

                <p class="error-msg"
                   th:if="${#fields.hasErrors('visitDateString')}"
                   th:errors="*{visitTimeString}"
                   th:text="#{NotBlank.dentistVisitDTO.visitTime}"></p>
            </div>

            <button type="submit"
                    class="btn btn-success btn-block"
                    th:text="${visit.getId() == null} ? #{register.visit} : #{btn.change}"></button>


            <a th:if="${visit.getId() != null}" role="button"
               class="btn btn-danger btn-block"
               th:href="@{/results}" th:text="#{btn.katkesta}"></a>

        </form>
    </div>
</div>
</body>
</html>
