<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
    <meta charset="UTF-8"/>
    <title>Hambakliinik</title>
    <link href="/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/jquery.timepicker.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>


    <script src="/js/jquery.js" type="application/javascript" defer="defer"></script>
    <script src="/js/jquery-ui.min.js" type="text/javascript" defer="defer"></script>
    <script src="/js/jquery.timepicker.min.js" type="text/javascript" defer="defer"></script>
    <script src="/js/custom-script.js" type="text/javascript" defer="defer"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" defer="defer"></script>

<div class="container-fluid">
    <nav class="nav">
        <a class="logo" th:href="@{/}" th:text="#{logo.title}">logo.title</a>
        <div class="nav-menu">
            <a class="nav-item" th:href="@{/}" th:text="#{register.visit}">register.visit</a>
            <a class="nav-item" th:href="@{/results}" th:text="#{manage.registrations}">manage.registrations</a>
        </div>
    </nav>
</div>
</head>
</html>