<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header::common_header">
</head>
<body>
<div class="row">

    <div th:if="${isSuccess == true}" class="col-md-12 content alert-holder">
        <div class="alert alert-success"
             th:text="#{registration.ok}"
             role="alert">
            registration.ok
        </div>
    </div>
    <div th:if="${error}" class="col-md-12 content alert-holder">
        <div class="alert alert-danger"
             th:text="${error}"
             role="alert">
            registration.ok
        </div>
    </div>
    <div th:if="${warning}" class="col-md-12 content alert-holder">
        <div class="alert alert-warning"
             th:text="${warning}"
             role="alert">
            registration.ok
        </div>
    </div>


    <div th:replace="menu::common_menu">
    </div>
    <div class="col-md-9 content form-content">
        <h3 th:text="#{dentist.registrations}">dentist.registrations</h3>

        <div th:if="${not #lists.isEmpty(registrations)}" class="form-group">
            <label th:text="#{search.title}">search.title</label>

            <input id="visit-search-input"
                   class="form-control"
                   type="text"
                   th:maxlength="200"/>
        </div>

        <table id="visits-table"
               th:if="${not #lists.isEmpty(registrations)}"
               class="table table-hover description-tbl">
            <thead>
            <tr>
                <th th:text="#{dentist.name}">
                    dentist.name
                </th>
                <th th:text="#{visit.datetime}">
                    visit.datetime
                </th>
                <th th:text="#{actions.label}">
                    actions.label
                </th>
            </tr>
            </thead>
            <tbody id="visits-table-body">
            <tr th:each="visit:${registrations}">

                <td>
                    <p th:text="${visit.getDentist().getFirstname() + ' ' + visit.getDentist().getLastname()}"></p>
                </td>
                <td>
                    <p th:text="${#dates.format(visit.getVisitDateTime(),'dd.MM.yyyy HH:mm')}"></p>
                </td>

                <td>
                    <form th:action="@{'results/delete/' + ${visit.getId()}}" th:method="delete">
                        <a role="button"
                           class="btn btn-success"
                           th:href="@{'/visitdetails/' + ${visit.getId()}}" th:text="#{btn.details}"/>

                        <a role="button"
                           class="btn btn-warning"
                           th:href="@{'/' + ${visit.getId()}}" th:text="#{btn.change}"/>

                        <button class="btn btn-danger" type="submit" th:text="#{btn.delete}"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
